<h1 mat-dialog-title>Adicionar Anime</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Posição</mat-label>
    <input matInput [(ngModel)]="data.position">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Total de Episódios</mat-label>
    <input matInput [(ngModel)]="data.episodes">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Último Episódio Visto</mat-label>
    <input matInput [(ngModel)]="data.currentEpisode">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Adicionar</button>
</div>
