.container {
  background-color: #3f51b5;
  padding: 20px 100px 20px 0;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.copyright {
  color: #fff;
  padding: 0px 50px 0 0;
}
